:root {
   --header-height: 4.5rem;
 
   /* colors */
   --hue: 159;
   /* HSL color mode */
   --base-color: hsl(var(--hue) 36% 57%);
   --base-color-second: hsl(var(--hue) 65% 88%);
   --base-color-alt: hsl(var(--hue) 57% 53%);
   --title-color: hsl(var(--hue) 41% 10%);
   --text-color: hsl(0 0% 46%);
   --text-color-light: hsl(0 0% 98%);
   --body-color: hsl(0 0% 98%);
   --subtitle-font-size: 1rem;
   --title-font-size: 1.875rem;
}

img {
   width: 100%;
   height: auto;
   object-fit: cover;
}

a {
   text-decoration: none;
}

html {
   scroll-behavior: smooth;
}

body {
   font-weight: 400;
   font-size: 1rem;
   font-family: 'DM Sans', sans-serif;
   color: var(--text-color);
   background-color: var(--body-color);
   -webkit-font-smoothing: antialiased !important;
}

.title {
   font: 700 var(--title-font-size) 'Poppins', sans-serif;
   color: var(--title-color);
}

.subtitle {
   font-size: var(--subtitle-font-size);
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

main {
   margin-top: calc(var(--header-height) + 2rem);
}

ul {
   list-style: none;
}

.button {
   background: var(--base-color);
   color: var(--text-color-light);
   display: inline-flex;
   height: 3.5rem;
   align-items: center;
   padding: 0 2rem;
   border-radius: .25rem;
   font: 500 1rem 'DM Sans', sans-serif;
   transition: all ease .6s;
}

.button:hover {
   filter: brightness(.8);
}

.container {
   width: 90%;
   margin: 0 auto;
}

.section {
   padding: calc(5rem + var(--header-height)) 0;
}

.section header {
   margin-bottom: 4rem;
}

.section header strong {
   color: var(--base-color);
}

.grid {
   display: grid;
   gap: 2rem;
}

.divider-1 {
   background: linear-gradient(270deg, hsla(var(--hue), 36%, 57%, 1) 0%, hsla(var(--hue), 65%, 88%, .34) 100%);
   height: 1px;
}

.divider-2 {
   height: 1px;
   background: linear-gradient(270deg, hsla(var(--hue), 65%, 88%, .34) 0%,  hsla(var(--hue), 36%, 57%, 1) 100%);
}

.header {
   border-bottom: 1px solid #E4E4E4;
   background-color: var(--body-color);
   position: fixed;
   z-index: 100;
   width: 100%;
   left: 0;
   right: 0;
   top: 0;
}

.logo {
   font: 700 1.875rem 'Poppins', sans-serif;
   color: var(--title-color);
}

.logo span {
   color: var(--base-color);
}

.logo.alt span {
   color: var(--body-color);
}

.header nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: var(--header-height);
}


nav .menu {
   opacity: 0;
   visibility: hidden;
}

nav .menu ul li a {
   transition: color .2s ease;
   position: relative;
}

nav .menu ul li a:hover {
   color: var(--base-color);
   position: relative;
}

nav.container {
   transition: all ease .5s;
}

nav.container .open img {
   cursor: pointer;
}

nav .menu ul li a.active {
   color: var(--base-color);
}

nav .menu li a.active::after,
nav .menu ul li a::after {
   width: 0;
   content: '';
   height: 2px;
   background-color: var(--base-color);
   position: absolute;
   left: 0;
   bottom: -1.5rem;
   transition: width .4s ease;
} 

nav .menu li a.active::after,
nav .menu ul li a:hover::after {
   content: '';
   width: 100%;
}

@keyframes headerAnimation {
   from {
      opacity: 0;
      transform: translateY(-100px);
   } to {
      opacity: 1;
      transform: translateY(0px);
   }
}

nav.show .menu {
   opacity: 1;
   visibility: visible;
   background-color: var(--body-color);
   height: 100vh;
   width: 100vw;
   position: fixed;
   left: 0;
   top: 0;
   display: flex;
   flex-direction: column;
}

nav.show .menu .nav-items {
   flex: 1;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 4rem;
   animation: headerAnimation forwards .3s;
}

nav.show .menu .close {
   padding: 1.5rem;
   display: flex;
   align-items: center;
   justify-content: flex-end;
}

nav.show .menu .close img {
   width: 1.5rem;
   height: 1.5rem;
   cursor: pointer;
}

nav.show .menu ul {
   gap: 4rem;
}

/* PAGES */

#about {
   background-color: #fff;
}

#about,
#home {
   overflow: hidden;
}

#about .container,
#home .container {
   margin: 0;
}

#about .image,
#home .image {
   position: relative;
   width: 100%;
}

#home .image::before {
   content: '';
   width: 100%;
   height: 100%;
   background: var(--base-color-second);
   position: absolute;
   top: -16.8%;
   right: -16.7%;
}

#about .image::before {
   content: '';
   width: 100%;
   height: 100%;
   background: var(--base-color-second);
   position: absolute;
   top: -8.3%;
   left: -33%;
}

#about .image img,
#home .image img {
   position: relative;
   right: 2.93rem;
}

#about .image img {
   right: 0;
   width: 110%;
}

#about .image::before,
#about .image img,
#home .image::before,
#home .image img {
   border-radius: .25rem;
}

#about .text,
#home .text {
   margin: 0 1.5rem;
   text-align: center;
}

#about .text {
   text-align: initial;
}

#about .text h2,
#home .text h1 {
   margin-bottom: 1rem;
}

#about .text p,
#home .text p {
   margin-bottom: 2rem;
}

#services .cards.grid {
   gap: 1.5rem;
}

#services .card {
   padding: 3.625rem 2rem;
   box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
   border-bottom: .25rem solid var(--base-color);
   border-radius: .25rem .25rem 0 0;
   text-align: center;
}

#services .card .icon {
   margin-bottom: 1.5rem;
}

#services .card .title {
   margin-bottom: .8rem;
   font-size: 1.5rem;
}

#services .card .icon img {
   width: 80px;
   height: 80px;
}

#services .card p {
   font-size: 1rem;
   color: var(--text-color);
   line-height: 1.3rem;
}

#testimonials {
   background-color: #fff;
}

#testimonials.container {
   margin: 0;
}

#testimonials header {
   margin-bottom: 0;
   margin: 0 1.5rem;
}

#testimonials blockquote {
   padding: 2rem;
   box-shadow: 0 0px 12px rgba(0, 0, 0, 0.08);
   border-radius: .25rem;
}

#testimonials blockquote p {
   position: relative;
   text-indent: 1.875rem;
   margin-bottom: 1.5rem;
   color: var(--title-color);
   font-size: 1rem;
}

#testimonials blockquote p span {
   font: 700 3rem serif;
   position: absolute;
   top: -1rem;
   color: var(--base-color);
   left: -1.875rem;
}

#testimonials cite {
   display: flex;
   align-items: center;
   font-style: normal;
   color: var(--text-color);
}

#testimonials cite img {
   width: 2rem;
   height: 2rem;
   margin-right: .5rem;
   object-fit: cover;
   clip-path: circle();
}

/* Swiper */
.swiper-slide {
   height: auto;
   padding: 4rem 1rem;
}

.swiper-pagination-bullet-active {
   background: var(--base-color);
}

#contact .grid {
   gap: 4rem;
}

#contact .text p {
   margin-bottom: 2rem;
}

#contact .title {
   padding-bottom: 1rem;
}

#contact .links img,
#contact .button img {
   width: 1.5rem;
   height: 1.5rem;
   margin-right: .8rem;
}

#contact ul.grid {
   gap: 2rem;
}

#contact ul.grid li {
   display: flex;
   align-items: center;
}

/* Footer */
footer {
   background-color: var(--base-color);
}

footer.section {
   padding: 4rem 0;
}

footer .container.grid {
   gap: 0;
   display: flex;
   flex-direction: column;
}

footer .logo {
   display: block;
   margin-bottom: 1.5rem;
   font-size: 1.31rem;
}

footer .brand p {
   color: var(--text-color-light);
   margin-bottom: .75rem;
   font-size: 1rem;
   line-height: 1.2rem;
   font-weight: 400;
   font-family: 'DM Sans', sans-serif;
}

footer .socials {
   display: flex;
   align-items: center;
   gap: 2rem;
}

footer .socials img {
   width: 1.5rem;
   height: 1.5rem;
}

.btn-up {
   background-color: var(--base-color);
   width: 1.5rem;
   height: 1.5em;
   position: fixed;
   border: 1px solid #000;
   bottom: 1rem;
   right: 1rem;
   cursor: pointer;
   padding: 1rem;
   border-radius: 50%;
   font-size: 1.5rem;
   color: #000;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: Arial;
   transition: all 1s ease;
   visibility: hidden;
   opacity: 0;
   transform: translateY(-100px);
}

.btn-up.show {
   visibility: visible;
   opacity: 1;
   transform: translateY(0px);
}

/* Responsivo 
   extra-large devices: 1200 > 
   large devices: 1023 >
   large devices: 992 >
   medium devices: 767 >
   small devices: 767 <
*/

@media(min-width: 1200px) {
   main {
      margin-top: var(--header-height);
   }

   nav .menu {
      opacity: 1;
      visibility: visible;
      top: 0;
   }   

   nav .menu ul {
      display: flex;
      gap: 2rem;
   }

   nav .menu ul li a.title {
      font-weight: 400;
      font-size: 1rem;
      font-family: 'Poppins', sans-serif
   }

   nav .open {
      display: none;
   }

   [data-close] {
      display: none;
   }

   #home .image {
     order: 1;
     max-width: 640px;
   }

   #home .text {
      order: 0; /* só é possivel em flex e grid */
   }

   #home .container {
      grid-auto-flow: column; /* deixar do lado */
      justify-content: space-between;
      max-width: 1120px;
      gap: 4rem;
      margin-left: auto;
      margin-right: auto;
   }

   #about .text {
      order: 1;
   }

   #about .image {
      order: 0;
      max-width: 640px;
   }

   #about .container {
      grid-auto-flow: column;
      justify-content: space-between;
      max-width: 1220px;
      gap: 4rem;
      margin-left: auto;
      margin-right: auto;
   }

   #about .image {
      order: 1;
      max-width: 640px;
    }

   #contact > div.grid {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      max-width: 1220px;
      gap: 4rem;
      margin-left: auto;
      margin-right: auto;
      padding-top: 0rem;
   }
   
   #contact .title {
     padding-left: 0 !important;
   }

   #testimonials .title {
      text-align: center;
   }

   #services .cards.grid {
      gap: 1.5rem;
      grid-template-columns: repeat(3, 352px);
      margin: 0 auto;
   }
   
   #services .title,
   #services .subtitle {
      text-align: center;
   }

   #services .subtitle {
      max-width: 523px;
      margin: 0 auto;
   }

   footer .container.grid {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
   }
}

@media(min-width: 992px) {
   :root {
      --subtitle-font-size: 1.125rem;
      --title-font-size: 2.25rem;
   }
}